.bg{
    display: flex;
}
.main{
    width: 100%;
    height: 1000px;
    background-color: #377d7d;
    margin-left: 280px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; 
    text-align: center;
}
.main1{
    width: 90%; 
    box-sizing: border-box;
}
.img1{
    width: 100%;
}
.main2{
    width: 40%; 
    box-sizing: border-box;
    margin-top: 30px;
}
.img2{
    width: 100%;
}
h2{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 100;
    margin: 20px 80px;
}
.m11{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.m11button1{
    width: 245px;
    height: 45px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: #f56c2d;
    border: none;
    margin: 0px 12px;
}
.m11button1:hover{
    background-color: #c85e36;
}
.m11button2{
    width: 245px;
    height: 45px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background: none;
    border: 1px solid white;
    margin: 0px 12px;
}
@media screen and (max-width: 999px){
    .bg{
        margin-top: 60px;
    }
    .main{
        margin: 0px;
    }
}
@media screen and (max-width: 599px){
    .main{
        margin: 0px;
    }
    .img1{
        width: 90%;
    }
    .main2{
        margin-top: -20px;
        width: 100%;
        box-sizing: border-box;
    }
    .m11{
        flex-direction: column;
        width: 95%;
        box-sizing: border-box;
    }
    .m11button1, .m11button2{
        width: 100%;  
        margin: 5px 0px;
    }
}

