.topnav{
    width: 100%;
    height: 60px;
    background-color: #1e262c;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px;
    display: none;
    margin-top: -60px;
}
.topnavlogo{
    width: 100px;
    display: block;
}
.ii{
    font-size: 20px;
    color: rgb(233, 233, 233);
}
.humb{
    font-size: 25px;
    color: rgb(233, 233, 233);
}
.x{
    font-size: 25px;
    color: rgb(233, 233, 233);
    position: absolute;
    margin-left: 285px;
    margin-top: 15px;
}
@media screen and (max-width: 999px){
    .topnav{
        display: flex;
    }
}